/* Reset */

*:not(button) {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #141311;
}



/* Body */
body {
    background-color: #DDDED9;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* Header */

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid #cdcec8;
    height: 80px;

}

nav {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    justify-content: flex-end;
    align-items: flex-end;
    font-style: normal;
    gap: 10px;


}

.link-menu {
    text-decoration: none;
    padding: 10px;

}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: flex-end;
}

.logo {
    align-items: flex-start;
}

.logo img {
    width: 100px;
    height: auto;
}




/* Main */

main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    align-content: space-between;

}



/*Top bar*/

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.section-title {
    font-size: 25px;
    padding-left: 50px;
}

.n-products {
    font-size: 10px;
    padding-right: 50px;
}

.filter-icon {
    width: 62px;
    height: auto;
    padding-left: 50px;

}

.filter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: none;
}

.filter {
    display: flex;
    border: none;
    font-variant: small-caps;
    background-color: #DDDED9;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.order {
    padding-right: 50px;
    border: none;
    font-variant: small-caps;
    background-color: #DDDED9;
    cursor: pointer;
}

.filter-bar button {
    font-weight: 400;
    font-size: 13px;
    height: auto;
    transition: color 0.5s ease, opacity 0.5s ease;
    background-color: none;
    align-items: center;
}

.filter-bar button:hover {
    opacity: 0.7
}



/* Gallery */

.section-gallery {
    justify-content: center;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    height: auto;
    gap: 20px;
    padding: 40px 40px;
}

.tshirt-container {
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 430px;
    position: relative;
    transition: transform 0.5s ease;

}

.tshirt-container:hover {
    transform: scale(1.05);

}


.t-shirtimg {
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: relative;
    object-fit: cover;
    z-index: 1;
    cursor: pointer;
}


.product-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
}



.tag {
    font-size: 12px;
    margin-top: -2px;
    padding-bottom: 2px;
    opacity: 0.8;
    font-weight: 300;
}

.gallery button {
    background-color: #DDDED9;
    color: #2d2d2d;
    text-align: center;
    width: 70px;
    font-weight: 100;
    font-style: normal;
    height: auto;
    border: 1px solid #385956;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;

}

.gallery button:hover {
    background-color: #385956;
    color: #DDDED9;
    transform: scale(1.05);
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.old-price {
    font-size: 15px;
    text-decoration: line-through;
}


.discount {
    font-size: 12px;
    font-weight: 400;
    color: #bc1823;
}

.product-price {

    font-size: 20px;
    font-weight: 600;
    color: #bc1823;
}



/* Details */
.details-section {
    padding-left: 50px;
    padding-top: 40px;
    border-top: 1px solid #cdcec8;
}


.p-summary {
    font-size: 15px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}



/* Footer */
footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;


}

.logo-footer {
    align-content: center;
}


.shop {
    text-transform: u
}

.ul-footer {
    display: flex;
    list-style: none;
    padding: 30px;

}

footer .link-menu {
    font-size: 15px;
    color: #6a6d6b;
}

a {
    text-decoration: none;
    color: #2d2d2d;
}

a:hover {
    opacity: 0.8;
}

.link-menu-active {

    opacity: 0.6;
    padding: 10px;

}